
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background-color: #030101dc;
    color: white;
    font-family: 'Lora', serif;
}
.cards-container{
    justify-content: space-evenly;
gap: 5px;
 display: flex;
 flex-wrap: wrap;
}

.card{
    min-height: 279.25px;
    width: 200px;
}
.card img{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.inputArea{
    margin: 20px;
    text-align: center;
}
select{
    margin: 20px;
    font-family: 'Lora', serif;
}